.list {
  list-style-type: none;
}

* {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
/* HEADER */
.page-header {
  color: #ffffff;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-link {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
} 
.contacts-link {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* MAIN */
.first {
  background-color: #2e2f42;
}
.main-title {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.butt {
  background: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.butt:hover,
.butt:focus {
  background: #404bbf;
}
.sec-title {
  color: #2e2f42;
  text-align: center;
  font-family:"Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.content-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.content-info {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background: #f4f4fd;
}

.team-list-item {
  background-color: #fff;
}
/* FOOTER */
.page-footer {
  background-color: #2e2f42;
}
.text-logo-footer {
  color: #f4f4fd;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-info {
  color: #f4f4fd;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
